nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  background-color: #fff;
  button {
    background: transparent;
    border: none;
    cursor: pointer;
    border: 2px solid rgb(65, 65, 65);
    padding: 0.5rem;
    transition: all 0.3s ease;
    .fa-music {
      margin-left: 8px;
    }
    &:hover {
      background-color: rgb(65, 65, 65);
      color: #fff;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    z-index: 1;
  }
}